<!doctype html>

<html lang="en">

<head>

    <title>{{basics.label}}</title>

    <meta name="description" content="">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="assets/plugins/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/brands.min.css">


    <link rel="stylesheet" href="assets/plugins/nivo-lightbox/nivo-lightbox.css"/>
    <link rel="stylesheet" href="assets/plugins/nivo-lightbox/themes/default/default.css"/>


    <link rel="stylesheet" href="assets/css/main.css">
<!--    <link rel="stylesheet" href="assets/css/main_pdf.css">-->


    <link rel="stylesheet" href="assets/css/themes.dark.css">


    <script src="assets/js/jquery.min.js"></script>


    <script src="assets/js/dense.js"></script>


    <script src="assets/plugins/nivo-lightbox/nivo-lightbox.min.js"></script>


    <script src="assets/js/scrollreveal.min.js"></script>


    <script src="assets/js/main.js"></script>

</head>

<body>

<div class="c-preloader  js-preloader">
    <div class="c-preloader__spinner  t-preloader__spinner"></div>
</div>

<div class="c-main-container  js-main-container">


    <section class="o-section o-section--header  t-section  t-section--header">
        <div class="c-header">

            <div class="o-section__header-bg  t-section__header"></div>
            <div class="o-section__content-bg  t-section__content"></div>

            <div class="o-container">
                <div class="o-section__container">

                    <header class="o-section__header  c-header__header  t-section__header">
                        <div class="c-header__inner-header">

                            <div class="c-header__avatar">
                                <div class="a-header  c-avatar">
                                    <img class="c-avatar__img" src="{{basics.image}}" alt="">
                                </div>
                            </div>

                        </div>
                    </header>

                    <div class="o-section__content  c-header__content  t-section__content">
                        <div class="c-header__inner-content">

                            <div class="c-header__top">

                                <div class="c-header__brand">

                                    <div class="c-brand">
                                        <h1 class="c-brand__title  t-title">
                                                    <span class="c-brand__sizer">
                                                        <span class="a-header  c-brand__first-word  t-title__first-word">
                                                            {{basics.firstName}}
                                                        </span>
                                                        <span class="a-header  c-brand__second-word  t-title__second-word">
                                                            {{basics.lastName}}
                                                        </span>
                                                    </span>
                                        </h1>
                                        <h2 class="a-header  c-brand__sub-title  t-sub-title">
                                                    <span class="c-brand__sizer">
                                                       {{basics.label}}
                                                    </span>
                                        </h2>
                                    </div>

                                </div>

                                <ul class="c-header__social-buttons  c-social-buttons">
                                    <li class="a-header">
                                        <a href="https://www.linkedin.com/in/jklimov/" target="_blank"
                                           class="c-social-button  t-social-button">
                                            <i class="fab  fa-lg  fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="a-header">
                                        <a href="https://github.com/jaklimoff" target="_blank"
                                           class="c-social-button  t-social-button">
                                            <i class="fab  fa-lg  fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="a-header">
                                        <a href="https://t.me/jaklimoff" target="_blank"
                                           class="c-social-button  t-social-button">
                                            <i class="fab  fa-lg  fa-telegram"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                            <div class="c-header__contact">

                                <hr class="a-header  c-header__contact-divider"/>

                                <div class="o-grid">

                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <h4>Location</h4>
                                                <address>
                                                    {{basics.location.country}} / {{basics.location.city}}
                                                </address>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                        <div class="a-header  o-content">
                                            <div class="o-content__body">
                                                <a href="mailto:{{basics.email}}" target="_blank"
                                                   class="t-link-container">
                                                    <h4>Email</h4>
                                                    <p>
                                                                <span class="t-link-container__item--blended">
                                                                    {{basics.email}}
                                                                </span>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>


    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Intro
                        </h2>
                        <div class="o-content__body  o-section__description">
                            What I am all about.
                        </div>
                    </div>
                </header>

                <div class="o-section__content  t-section__content  ">

                    <div class="o-content">
                        <div class="c-intro">
                            <div class="o-content__body">
                                <p>
                                    {{basics.summary}}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>


    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Expertise
                        </h2>
                        <div class="o-content__body  o-section__description">
                            What I am good at.
                        </div>
                    </div>
                </header>

                <div class="o-section__content  t-section__content  ">

                    <div class="o-grid">
                        {% for exp in expertise %}
                        <div class="o-grid__col-sm-6">
                            <div class="o-media  o-media--block  o-content">
                                <div class="o-media__figure">
                                    <div class="c-number  t-primary-color">
                                        {{loop.index}}
                                    </div>
                                </div>
                                <div class="o-media__body  o-content__body">
                                    <h3>{{exp.title}}</h3>
                                    <p>{{exp.summary}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>

    </section>


    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Experience
                        </h2>
                        <div class="o-content__body  o-section__description">
                            Been there, done that.
                        </div>
                    </div>
                </header>

                <div class="o-section__content  t-section__content  u-pb-0">

                    <div class="a-experience-timeline  c-timeline  t-border-color">

                        {% for w in work %}
                        <div class="c-timeline__item">
                            <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                            <div class="o-content">
                                <div class="o-grid">
                                    <div class="o-grid__col-md-5">
                                        <div class="c-work__timeframe">
                                            {{w.startDate}} &ndash; {{w.endDate}}
                                        </div>
                                        <h3 class="c-work__heading">
                                            {{w.name}}
                                        </h3>
                                        <h4 class="c-work__title">
                                            {{w.position}}
                                        </h4>
                                        <div class="c-work__location">
                                            {{w.location}}
                                        </div>
                                    </div>
                                    <div class="o-grid__col-md-7">
                                        <p>
                                            {{w.summary}}
                                        </p>
                                        <p>
                                        <ul>
                                            {% for h in w.highlights %}
                                            <li>{{ h }}</li>
                                            {% endfor %}
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>

    </section>


    <section class="o-section  t-section  ">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Education
                        </h2>
                        <div class="o-content__body  o-section__description">
                            My alma mater has a special place in my heart
                        </div>
                    </div>
                </header>

                <div class="o-section__content  t-section__content  u-pt-0">

                    <div class="o-content">
                        <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
                            <div class="c-timeline__end  t-border-color"></div>

                            {% for e in education %}
                            <div class="c-timeline__item">
                                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                                <div class="o-content">
                                    <div class="o-grid">
                                        <div class="o-grid__col-md-5">
                                            <div class="c-work__timeframe">
                                                {{e.startDate}} &ndash; {{e.endDate}}
                                            </div>
                                            <h3 class="c-work__heading">
                                                {{e.institution}}
                                            </h3>
                                            <h4 class="c-work__title">
                                                {{e.area}}
                                            </h4>
                                        </div>
                                        <div class="o-grid__col-md-7">
                                            <p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>


    <section class="o-section  t-section  o-section--footer">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
            <div class="o-section__container">

                <header class="o-section__header  t-section__header">
                    <div class="o-content">
                        <h2 class="o-section__heading">
                            Contact
                        </h2>
                        <div class="o-content__body  o-section__description">

                        </div>
                    </div>
                </header>

                <div class="o-section__content  t-section__content  ">

                    <div class="c-footer__contact">
                        <div class="o-grid">

                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="a-header  o-content">
                                    <div class="o-content__body">
                                        <h4>Location</h4>
                                        <address>
                                            {{basics.location.country}} / {{basics.location.city}}
                                        </address>
                                    </div>
                                </div>
                            </div>


                            <div class="o-grid__col-md-3  o-grid__col-sm-6">
                                <div class="a-header  o-content">
                                    <div class="o-content__body">
                                        <a href="mailto:{{basics.email}}" target="_blank"
                                           class="t-link-container">
                                            <h4>Email</h4>
                                            <p>
                                                <span class="t-link-container__item--blended">
                                                    {{basics.email}}
                                                </span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

    </section>


</div>

</body>

</html>